# LDM Configuration
LDM_ID=54f34e52-b466-49f8-b525-230cd107148b
LDM_HOSTNAME=ldm1
QUARKUS_HTTP_PORT=8080

# Raft Cluster
RAFT_SERVER_PORT=4000
RAFT_CLUSTER_ID=2335173a-0958-4712-b7f2-7c6a02abe5d5

# Database
DB_USERNAME=postgres
DB_PASSWORD=changeme
DB_JDBC_URL=jdbc:postgresql://localhost:5432/ldm_migrations

# Pekko
PEKKO_PORT=6000
CLUSTER_SEED_NODE=pekko://ClusterSystem@ldm1:6000

# Leader Election
LEADER_ELECTION_MODE=DEFAULT

# Migration Mode (experiment | kubernetes)
LDM_MIGRATION_MODE=experiment
LDM_MONITORING_MODE=experiment
